fastapi>=0.95.0
uvicorn[standard]>=0.22.0
sqlmodel>=0.0.8
greenlet>=3.5.1
asyncpg>=0.27.0
passlib>=1.7.4
python-jose>=3.3.0
python-dotenv>=1.0.0
aiosqlite>=0.18.0
qrcode[pil]>=7.4.0
python-multipart>=0.0.6
